<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fynd Movie Database: The Ultimate Movie Database</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block customcss %}
    {% endblock %}
    </style>
  </head>
  <body>
    {% block body %}
    {% block navbar %}
    <div class="navbar navbar-dark bg-secondary">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fynd Movies Database</a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <a href="/login" class="text-white"><span class="fa fa-sign-in"></span> Login</a>
        </div>
    </div>
    {% endblock %}
    <div id="main" class="container">
    {% block bodycontent %}
    {% endblock %}
    </div>
    {% endblock %}
    {% block footer_js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block custom_js %}
    {% endblock %}
  </body>
</html>
