<html>
  <head>
    <title>Fynd Movie Database: The Ultimate Movie Database</title>
  </head>
  <body>
    <div style="text-align:center">
      Welcome to the Fynd Movie Database. We are still under development, but you can access our APIs at the following URLs:<br /><br />
          <strong>Movies List:</strong> /api/v1/movies/<br />
          <strong>Movie Create:</strong> /api/v1/movies/<br />
          <strong>Movie Retrieve, Edit, Delete:</strong> /api/v1/movies/:uuid/
    </div>
  </body>
</html>
