<html>
  <head>
    <title>Fynd Movie Database: The Ultimate Movie Database</title>
  </head>
  <body>
    <div style="text-align:center">
      Welcome to the Fynd Movie Database. We are still under development, but you can access our APIs at the following URLs:<br /><br />
          <strong>Movies List, Create:</strong> /api/v1/movies/<br />
          <strong>Movie Retrieve, Edit, Delete:</strong> /api/v1/movies/:uuid/<br /><br />

          <strong>Directors List, Create:</strong> /api/v1/directors/<br />
          <strong>Directors Retrieve, Edit, Delete:</strong> /api/v1/directors/:uuid/<br /><br />

          <strong>Genre List, Create:</strong> /api/v1/genres/<br />
          <strong>Genre Retrieve, Edit, Delete:</strong> /api/v1/genres/:uuid/<br /><br />
    </div>
  </body>
</html>
